<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Carrito</title>
<th:block th:include="fragments/head.html"></th:block>
<link rel="stylesheet" href="/css/lists.css">
</head>
<body>
	<nav th:replace="fragments/navigation.html :: navigation" />
	<h1>Pedido</h1>
	<form class="form-horizontal" th:action="@{/carrito/buy}" method="get">
		<fieldset>

			<!-- Form Name -->
			<legend>Nuevo Pedido</legend>
<!-- Text input ID-->
			<input id="id" name="id" type="hidden" placeholder=""
				class="form-control input-md" required="" th:field="*{id}">
				<!-- Text input FECHA-->
			<input id="id" name="id" type="hidden" placeholder=""
				class="form-control input-md" required="" th:field="*{id}">
			<div class="datosPrimero">
				<!-- Text input ROL-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="id_rol">Rol</label>
					<div class="col-md-4">
						<select id="rol" th:field="*{rol}" required="" name="rol"
							type="text" class="form-control">
							<option th:each="rol : ${listaRoles}" th:value="${rol.id}"
								th:text="${rol.rol}"></option>
						</select>
					</div>
				</div>
				<!-- Text input EMAIL-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="email">Email</label>
					<div class="col-md-4">
						<input id="email" th:field="*{email}" name="email" type="text"
							placeholder="" class="form-control input-md" required="">
					</div>
				</div>

				<input th:if="${usuario.id != 0}" id="clave" name="clave"
					type="hidden" placeholder="" class="form-control input-md"
					required="" th:field="*{clave}">

				<!-- Text input CLAVE-->
				<div th:if="${usuario.id == 0}" class="form-group">
					<label class="col-md-4 control-label" for="clave">Clave</label>
					<div class="col-md-4">
						<input id="clave" th:field="*{clave}" name="clave" type="password"
							placeholder="" class="form-control input-md" required="">
					</div>
				</div>

				<!-- Text input NOMBRE-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="nombre">Nombre</label>
					<div class="col-md-4">
						<input id="nombre" th:field="*{nombre}" name="nombre" type="text"
							placeholder="" class="form-control input-md" required="">

					</div>
				</div>

				<!-- Text input APELLIDO1-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="apellido1">Primer
						Apellido</label>
					<div class="col-md-4">
						<input id="apellido1" th:field="*{apellido1}" name="apellido1"
							type="text" placeholder="" class="form-control input-md"
							required="">
					</div>
				</div>

				<!-- Text input APELLIDO2-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="apellido2">Segundo
						Apellido</label>
					<div class="col-md-4">
						<input id="apelllido2" th:field="*{apellido2}" name="apellido2"
							type="text" placeholder="" class="form-control input-md"
							required="">
					</div>
				</div>
			</div>
			<div class="datosSegundo">
				<!-- Text input DIRECCION-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="direccion">DIRECCION</label>
					<div class="col-md-4">
						<input id="direccion" th:field="*{direccion}" name="direccion"
							type="text" placeholder="" class="form-control input-md"
							required="">
					</div>
				</div>

				<!-- Text input LOCALIDAD-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="localidad">Localidad</label>
					<div class="col-md-4">
						<input id="localidad" th:field="*{localidad}" name="localidad"
							type="text" placeholder="" class="form-control input-md"
							required="">
					</div>
				</div>

				<!-- Text input TELEFONO-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="telefono">Telefono</label>
					<div class="col-md-4">
						<input id="telefono" th:field="*{telefono}" name="telefono"
							type="text" placeholder="" class="form-control input-md"
							required="">
					</div>
				</div>

				<!-- Text input DNI-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="dni">DNI</label>
					<div class="col-md-4">
						<input id="dni" th:field="*{dni}" name="dni" type="text"
							placeholder="" class="form-control input-md" required="">

					</div>
				</div>
			</div>
			<!-- Button -->
			<div class="form-group" align="right">
				<label class="col-md-4 control-label" for="singlebutton"></label>
				<div class="col-md-4">
					<button th:text="${usuario.id !=0} ? 'Guardar' : 'Crear'"
						id="singlebutton" name="singlebutton" class="btn btn-primary">Guardar
						/ Crear</button>
				</div>
			</div>

		</fieldset>
	</form>
	</form>
	<footer th:replace="fragments/footer.html :: footer" />
</body>
</html>