<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Listado Usuarios</title>
<th:block th:include="fragments/head.html"></th:block>
<link rel="stylesheet" href="/css/lists.css">
</head>
<body>
	<nav th:replace="fragments/navigation.html :: navigation" />
	<h1>Usuarios</h1>
	<table class="content-table table-striped">
		<tr>
			<th>Rol</th>
			<th>Email</th>
			<th>Nombre</th>
			<th>Apellido 1</th>
			<th>Apellido 2</th>
			<th>Dirección</th>
			<th>Provincia</th>
			<th>Localidad</th>
			<th>Teléfono</th>
			<th>Dni</th>
		</tr>
		<tr th:each="usuario : ${listaUsuarios}">
			<div th:each="rol : ${listaRoles}">
				<td th:if="${rol.id == usuario.rol}" th:text="${rol.rol}">Rol</td>
			</div>
			<td th:text="${usuario.email}">Email</td>
			<td th:text="${usuario.nombre}">Nombre</td>
			<td th:text="${usuario.apellido1}">Primer Apellido</td>
			<td th:text="${usuario.apellido2}">Segundo Apellido</td>
			<td th:text="${usuario.direccion}">Dirección</td>
			<td th:text="${usuario.provincia}">Provincia</td>
			<td th:text="${usuario.localidad}">Localidad</td>
			<td th:text="${usuario.telefono}">Telefono</td>
			<td th:text="${usuario.dni}">DNI</td>
			<td><a th:href="@{/usuario/edit/} + ${usuario.id}"
				th:text="'Editar'" method="get" class="btn btn-outline-primary"></a></td>
			<td th:if="${session.usuario.rol == 1}"><a
				th:href="@{/del/} + ${usuario.id}" th:text="'Eliminar'" method="get"
				class="btn btn-outline-danger"></a></td>
		</tr>
	</table>
	<div class="anadirUsuario">
		<a th:href="@{/usuario/new}" class="btn btn-outline-primary">Añadir
			Usuario</a>
	</div>
	<footer th:replace="fragments/footer.html :: footer" />
</body>
</html>