<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Producto Comprado</title>
<th:block th:include="fragments/head.html"></th:block>
<link rel="stylesheet" href="/css/lists.css">
</head>
<body>
	<nav th:replace="fragments/navigation.html :: navigation" />
	<h1>Pedido Realizado</h1>
	<div>
	  <h1>Su Pedido Le Llegara En Breve.</h1>
	  <h1>Gracias Por Su Compra.</h1>
	</div>
	<footer th:replace="fragments/footer.html :: footer" />
</body>
</html>