<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>ONLINE SHOP</title>
<th:block th:include="fragments/head.html"></th:block>
<link rel="stylesheet" href="/css/listProducto.css">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700"
	rel="stylesheet">
</head>
<body>
	<nav th:replace="fragments/navigation.html :: navigation" />
	<div class="wrap">
		<h1>Catálogo Productos</h1>
		<div class="store-wrapper">
			<div class="category_list" th:each="categoria : ${listaCategorias}">
				<a type="button" class="category_item" th:text="${categoria.nombre}">Categoria</a>
				<section class="products-list">
					<div th:each="producto : ${listaProductos}" th:if="${categoria.id == producto.id_categoria}" class="product-item">
						<img th:src="@{/img/}+${producto.imagen}" />
						<p th:text="${producto.nombre}">Nombre</p>
						<small class="text-muted" th:text="${producto.stock}+' productos disponibles'"></small> 
						<a
							th:href="@{/carrito/anadir/} + ${producto.id}"
							th:text="'Añadir Al Carrito'" method="get"
							class="btn btn-sm btn-outline-secondary">
						</a>
						 <a
							th:href="@{/producto/verProducto/} + ${producto.id}"
							th:text="'Ver Producto'" method="get"
							class="btn btn-sm btn-outline-secondary">
						</a>						
					</div>
				</section>
			</div>
			<br>
		</div>
	</div>
	<footer th:replace="fragments/footer.html :: footer" />
</body>
</html>