<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Tienda online</title>
<th:block th:include="fragments/head.html"></th:block>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>

</head>
<body>
	<nav th:replace="fragments/navigation.html :: navigation" />
	<div class="album py-5 bg-light">
		<div class="container">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

				<div class="col" th:each="producto : ${listaProductos}">
					<div class="card shadow-sm">

						<img th:src="@{/img/}+${producto.imagen}" />
						<div class="card-body">
							<p class="card-text" th:text="${producto.descripcion}">Descripción
								del producto.</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
									<button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
								</div>
								<small class="text-muted"
									th:text="${producto.stock}+' productos disponibles'">0 productos disponibles</small>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer.html :: footer" />
</body>
</html>
>
