<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Listado Productos</title>
<th:block th:include="fragments/head.html"></th:block>
<link rel="stylesheet" href="/css/lists.css">
</head>
<body>
	<nav th:replace="fragments/navigation.html :: navigation" />
		<h1>Productos</h1>
	<table class="content-table table-striped">
		<tr>
			<th>Nombre</th>
			<th>Categoria</th>
			<th>Precio</th>
			<th>Stock</th>
			<th>Fecha Alta</th>
			<th>Fecha Baja</th>
			<th>Descripción</th>
			<th>Imagen</th>
		</tr>
		<tr th:each="producto : ${listaProductos}">
			<td th:text="${producto.nombre}">Nombre</td>
			<div th:each="categoria : ${listaCategorias}">
			<td th:if="${categoria.id == producto.id_categoria}" th:text="${categoria.nombre}">Categoria</td>
			</div>
			<td th:text="${producto.precio}">Precio</td>
			<td th:text="${producto.stock}">Stock</td>
			<td th:text="${producto.fechaAlta}">Fecha Alta</td>
			<td th:text="${producto.fechaBaja}">Fecha Baja</td>
			<td th:text="${producto.descripcion}">Descripción</td>
			<td th:text="${producto.imagen}">Imagen</td>
			<td><a th:href="@{/producto/edit/} + ${producto.id}"
				th:text="'Editar'" method="get" class="btn btn-outline-primary"></a></td>
			<td th:if="${session.usuario.rol == 1}" ><a th:href="@{/producto/del/} + ${producto.id}"
				th:text="'Eliminar'" method="get" class="btn btn-outline-danger"></a></td>
		</tr>
	</table>
	<div class="anadirUsuario">
		<a th:href="@{/producto/new}" class="btn btn-outline-primary">Añadir Producto</a>
	</div>	
	<footer th:replace="fragments/footer.html :: footer" />
</body>
</html>