<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Nuevo Producto</title>
<th:block th:include="fragments/head.html"></th:block>
<link rel="stylesheet" href="/css/registro.css">
</head>
<body>
	<nav th:replace="fragments/navigation.html :: navigation" />

	<form enctype="multipart/form-data" class="form-horizontal"
		th:action="${producto.id !=0} ? @{/producto/edit/submit} : @{/producto/new/submit}"
		th:object="${producto}" method="post">
		<fieldset>

			<!-- Form Name -->
			<legend
				th:text="${producto.id !=0} ? 'Datos producto' : 'Nuevo producto'">Nuevo
				producto / Editar producto</legend>

			<input id="id" name="id" type="hidden" placeholder=""
				class="form-control input-md" required="" th:field="*{id}">
			<div class="datosPrimero">
				<!-- Text input NOMBRE-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="nombre">Nombre</label>
					<div class="col-md-4">
						<input id="nombre" th:field="*{nombre}" name="nombre" type="text"
							placeholder="" class="form-control input-md" required="">
					</div>
				</div>

				<!-- Text input CATEGORIA-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="id_categoria">Categoria</label>
					<div class="col-md-4">
						<select id="id_categoria" th:field="*{id_categoria}" required=""
							name="id_categoria" type="text" class="form-control">
							<option th:each="categoria : ${listaCategorias}"
								th:value="${categoria.id}" th:text="${categoria.nombre}"></option>
						</select>
					</div>
				</div>

				<!-- Text input DESCRIPCION-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="descripcion">Descripción</label>
					<div class="col-md-4">
						<input id="descripcion" th:field="*{descripcion}"
							name="descripcion" type="text" placeholder=""
							class="form-control input-md" required="">
					</div>
				</div>

				<!-- Text input PRECIO-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="precio">Precio</label>
					<div class="col-md-4">
						<input id="precio" th:field="*{precio}" name="precio" type="text"
							placeholder="" class="form-control input-md" required="">
					</div>
				</div>

				<!-- Text input STOCK-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="stock">Stock</label>
					<div class="col-md-4">
						<input id="stock" th:field="*{stock}" name="stock" type="text"
							placeholder="" class="form-control input-md" required="">
					</div>
				</div>
			</div>
			<div class="datosSegundo">

				<!-- Text input IMPUESTO-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="impuesto">Impuesto</label>
					<div class="col-md-4">
						<input id="impuesto" th:field="*{impuesto}" name="impuesto"
							type="text" placeholder="" class="form-control input-md"
							required="">
					</div>
				</div>

				<!-- Text input IMAGEN-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="imagen">Imagen</label>
					<div class="col-md-4">
					<!--  <input th:field="*{imagen}" id="imagen" name="imagen" type="file" required="">-->
<input id="imagen" th:field="*{imagen}" name="imagen" type="text"
							placeholder="" class="form-control input-md" required="">
					</div>
				</div>
			</div>
			<!-- Button -->
			<div class="form-group" align="right">
				<label class="col-md-4 control-label" for="singlebutton"></label>
				<div class="col-md-4">
					<button th:text="${producto.id !=0} ? 'Guardar' : 'Crear'"
						id="singlebutton" name="singlebutton" class="btn btn-primary">Guardar
						/ Crear</button>
				</div>
			</div>

		</fieldset>
	</form>
	<footer th:replace="fragments/footer.html :: footer" />
</body>
</html>