<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<th:block th:include="fragments/head.html"></th:block>
<link rel="stylesheet" href="/css/loginStyle.css">
<title>Inicio de Sesión</title>
</head>
<body>
	<nav th:replace="fragments/navigation.html :: navigation" />
	<div class="login-wrapper">
		<form th:action="@{/login/acceso/valida}" method="post" class="form">
			<img id="ojo" style="padding-left: 5px; vertical-align: middle;"
				src="/img/invisible.png" width="20" />
			<h2>Inicio de Sesión</h2>
			<div class="input-group">
				<input type="text" name="email" id="email" required> <label
					for="email">Email</label>
			</div>
			<div class="input-group">
				<input type="password" name="clave" id="clave" required> <label
					for="clave">Contraseña</label>
			</div>
			<p th:text="${mensaje}"></p>
			<input type="submit" value="Login" class="submit-btn">
		</form>
	</div>
	<footer th:replace="fragments/footer.html :: footer" />
	<script type="text/javascript">
		var pass = document.getElementById('clave');
		var img = document.getElementById('ojo');

		img.onclick = function() {

			if (img.src.match("/img/invisible.png")) {
				img.src = "/img/visible.png";
				pass.type = "text";
			} else {
				img.src = "/img/invisible.png";
				pass.type = "password";
			}

		};
	</script>
</body>
</html>