<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<th:block th:include="fragments/head.html"></th:block>
<link rel="stylesheet" href="/css/loginStyle.css">
<title>Inicio de Sesión</title>
</head>
<body>
	<nav th:replace="fragments/navigation.html :: navigation" />
	<div class="login-wrapper">
		<form th:action="@{/login/acceso/valida}" method="post" class="form">
			<img src="/img/avatar.png" alt="">
			<h2>Inicio de Sesión</h2>
			<div class="input-group">
				<input type="text" name="email" id="email" required> <label
					for="email">Email</label>
			</div>
			<div class="input-group">
				<input type="password" name="clave" id="clave" required> <label
					for="clave">Contraseña</label>
			</div>
			<input type="submit" value="Login" class="submit-btn"> 
		</form>
	</div >
		<footer th:replace="fragments/footer.html :: footer" />
</body>
</html>